node_modules
dist
dist-ssr
*.local
.DS_Store
.vite
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos temporales que Vite genera durante el build
vite.config.js.timestamp-*
vite.config.*.timestamp-*
